.navbar-text-2{
    font-size: medium;
    text-decoration: none;
    color: white;
    margin: 0 auto;
}
.navbar-text-2 p{
    margin: 0 auto;
}
.link-tag{
    color: white;
    text-decoration: none;
}
a:hover{
    color: white;
}
#nt-2-link{
    padding: 0px 5px;
}
#hiring-btn{
    color: white;
}
#li-not-req{
    list-style: none;
    padding-right: 2vw;
}
.navbar-text-3{
    margin: 0 auto;
}
@media screen and (max-width: 400px) {
    .navbar-text-3{
        display: flex;
        flex-direction: column;
        white-space: nowrap;
    }
    
}